body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********* Header ************/
header h1 {
  text-align: center;
}

/********* NavBar ************/
nav {
  display: flex;
  justify-content: space-evenly;
}

/********* Home ************/
.home {
  text-align: center;
}

/********* Inventory Page ************/
.inventory-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********* New page ************/
.new-item {
  display: flex;
  flex-direction: column;
  align-items: center
}